/* ==UserStyle==
@name           tasksinabox.com - 11/7/2022, 7:50:11 AM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

#page .page-body {
    background: #333!important;
}

.worklist-item { background: #444; color: #fff }


.worklist-item.create-task {
    background-color: #111;
}

.navigation-menu .divider, .worklist-item.create-task {
    border: none 
}


.worklist-group-body {
    border: none
}

.tasks-info {
    display: none
}

.command-bar,
.command-bar .primary-commands {
    background: #222
}


.command-bar .command-bar-item.link {
    color: #999;
}

.section-nav-bar.tasks-nav-bar { display: none }

.quick-launch-menu-footer {
    display: none!important
}

.quick-launch-pinned .page { background: #333;}

.worklist-item-checkbox, .worklist-item-decision {
    color: #87e326;
    border-width: 2px;
}

.scroll-pane.section-nav-cb {
    top: 37px;
}
